{% extends 'back.base.html.twig' %}


{% block title %}
Reclamations
{% endblock %}

{% block body %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
       navbar-scroll="true">
<div class="container-fluid py-4">
<div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">All Reclamations</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Object</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody id="myTable">
                {% for reclamation in reclamations %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{reclamation.user.firstName ~ reclamation.user.lastName}}</h6>
                        <p class="text-xs text-secondary mb-0">{{reclamation.user.email}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{reclamation.object}}</p>
                    
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="text-secondary text-xs font-weight-bold">{{reclamation.description}}</span>
                  </td>
                  
                  <td class="align-middle text-center">
                    {% if reclamation.status == "Pending" %}
                    <span class="badge badge-sm bg-gradient-danger">{{reclamation.status}}</span>
                    {% else %}
                    <span class="badge badge-sm bg-gradient-success">{{reclamation.status}}</span>
                    {% endif %}
                  </td>
                  

                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{reclamation.reclamationDate | date}}</span>
                  </td>
                  
                  <td class="align-middle">
                    <a href={{ path('deleteReclamation',{'id':reclamation.id}) }} class="btn btn-outline-danger btn-sm bgtext-secondary  text-xs" data-toggle="tooltip" data-original-title="Edit user">
                      Delete
                    </a>
                  </td>
                  <td class="align-middle">
                    <a href={{ path('rep_add',{'id':reclamation.id}) }} class="btn btn-outline-success btn-sm bgtext-secondary  text-xs" data-toggle="tooltip" data-original-title="Edit user">
                      Response
                    </a>
                  </td>
                </tr>
               
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</nav>
</main>
<div class="container py-5">
  <div class="d-flex justify-content-center">
{{ knp_pagination_render(reclamations) }}

</div>
</div>

{% endblock %}