<table border="1">
    <tr>
        <td>Object</td>
        <td>Description</td>
        <td>Date</td>
        <td>user</td>
    </tr>
    
        <tr>
            <td>{{ reclamation.id }}</td>
            <td>{{ reclamation.object }}</td>
            <td>{{ reclamation.description }}</td>
            <td>{{reclamation.user.firstName}}</td>

           

        </tr>
    
</table>
{{ form(form) }}