{% extends 'front.base.html.twig' %}



{% block title %}Blog{% endblock %}

{% block body %}
<section class="page-heading">
    <div class="title-slide">
    <div class="container">
    <div class="banner-content slide-container">
    <div class="page-title">
    <h3>Our Blog</h3>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    <div class="page-content">
    
    <div class="breadcrumbs">
    <div class="container">
    <div class="row">
    <div class="col-md-9">
    <ul>
    <li class="home"><a href="#"><i class="fa fa-home"></i> Home</a></li>
    <li><span>//</span></li>
    <li class="category-1"><a href="#">Blog</a></li>
    <li><span>//</span></li>
    <li class="category-2"><a href="#">Blog listing</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="main-content our-blog">
    <div class="container">
    <div class="row">
       
    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
        
    <div class="blog-page">
        {% for blog in blogs %}
        {% if blog.getVerified() == true %}
    <section class="blog-listing">
    <section class="blog-item">
    <div class="img-blog">
    <img src="{{asset('uploads/image/') ~ blog.image}}" alt="" />
    </div>
    <div class="blog-main">
    <div class="img-blog">
    <img src={{asset("front/assets/images/img-pp.png")}} alt="" />
    </div>
    <div class="blog-content">
    <div class="blog-header">
    <div class="blog-title-top">
    <a href="#">{{blog.blogCat.name}}</a>
    <div class="p-30">Views: {{blog.view}}</div>
    </div>
    <div class="blog-title">
    <a href="{{ path('detail-Blog', {id: blog.id}) }}">{{blog.title}}</a>
    </div>
    <div class="blog-intro">
    <div class="created-by"> By <span>{{blog.user.firstName}}</span></div>
    <div class="published"> On {{blog.getCreatedAt() | date}} </div>
    <div class="category-name">
    in <a href="#">Success Stories</a>
    </div>
    </div>
    </div>
    <div class="blog-text">
    <p>
    {{blog.description}}
    </p>
    <a href="{{ path('blog-like', {'id': blog.id}) }}" class="btn btn-link js-like">

        <span class="js-likes">{{blog.likes | length }}</span>&nbsp;
        {% if app.user and blog.likedByUser(app.user) %}
            <i class="fas fa-thumbs-up"></i>
        {% else %}
            <i class="far fa-thumbs-up"></i>
        {% endif %}
    </a>
    </div>
    </div>
    </div>
    </section>
    {% endif %}
    {% endfor %}
    <div class="pages">
        {{ knp_pagination_render(blogs) }}
    </div>
    </section>
    </div>
    
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
    <div class="sidebar-left">
    <section class="menu-sidebar">
    <div class="title-menu">
    <h4>Blog categories</h4>
    </div>
    <ul class="nav-menu">
        {% for c in categories %}
    <li><a href="{{ path('blog_cat', {id: c.id}) }}">{{c.name}}</a></li>
    {% endfor %}
    </ul>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const LIKE_ICON = 'far fa-thumbs-up';
        const UNLIKE_ICON = 'fas fa-thumbs-up';
        Array.from(document.querySelectorAll('a.js-like')).forEach(function (link) {
            link.addEventListener('click', onClickLink);
        });
        async function onClickLink(event) {
            event.preventDefault();
            const url = this.href;
            const icone = this.querySelector('i');
            const count = this.querySelector('span.js-likes');
            try {
                const result = await axios.post(url);
                const data = result.data;
                icone.className = icone.className === LIKE_ICON ? UNLIKE_ICON : LIKE_ICON;
                count.textContent = data.likes;
            } catch (error) {
                if (error.response.status === 403) {
                    window.location = '/'
                }
            }
        }
    </script>
    </section>
    <section class="popular-event">
    <div class="popular-event-title">
    <h4>Popular Event</h4>
    </div>
    <div class="news-content">
    <ul>
    <li class="latest-news-item">
    <div class="news-item-inner">
    <div class="news-date">
    <div class="news-day">25</div>
    <div class="news-month">SEP</div>
    </div>
    <div class="news-info">
    <div class="news-title">
    <a href="#">Repeating month event</a>
    </div>
    <div class="news-time">
    <p>8:00 A.M- 10:00 P.M</p>
     </div>
    </div>
    </div>
    </li>
    <li class="latest-news-item">
    <div class="news-item-inner">
    <div class="news-date">
    <div class="news-day">25</div>
    <div class="news-month">SEP</div>
    </div>
    <div class="news-info">
    <div class="news-title">
    <a href="#">Cras commodo suscipit </a>
    </div>
    <div class="news-time">
    <p>8:00 A.M- 10:00 P.M</p>
    </div>
    </div>
    </div>
    </li>
    <li class="latest-news-item">
    <div class="news-item-inner">
    <div class="news-date">
    <div class="news-day">25</div>
    <div class="news-month">SEP</div>
    </div>
    <div class="news-info">
    <div class="news-title">
    <a href="#">Nunc imperdiet libero sapien, ut faucibus mag</a>
    </div>
    <div class="news-time">
    <p>8:00 A.M- 10:00 P.M</p>
    </div>
    </div>
    </div>
    </li>
    <li class="latest-news-item">
    <div class="news-item-inner">
    <div class="news-date">
    <div class="news-day">25</div>
    <div class="news-month">SEP</div>
    </div>
    <div class="news-info">
    <div class="news-title">
    <a href="#">Mauris id commodo dolor</a>
    </div>
    <div class="news-time">
    <p>8:00 A.M- 10:00 P.M</p>
    </div>
    </div>
    </div>
    </li>
    <li class="latest-news-item">
    <div class="news-item-inner">
    <div class="news-date">
    <div class="news-day">25</div>
    <div class="news-month">SEP</div>
    </div>
    <div class="news-info">
    <div class="news-title">
    <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
    </div>
    <div class="news-time">
    <p>8:00 A.M- 10:00 P.M</p>
    </div>
    </div>
    </div>
    </li>
    </ul>
    </div>
    </section>
    <section class="archives">
    <div class="archives-title">
    <span>Archives</span>
    </div>
    <div class="archives-content">
    <div class="info-content">
    <a href="#"><span><i class="fa fa-calendar-o"></i>January 2014</span></a>
    </div>
    </div>
    <div class="archives-content">
    <div class="info-content">
    <a href="#"><span><i class="fa fa-calendar-o"></i>August 2013</span></a>
    </div>
    </div>
    <div class="archives-content">
    <div class="info-content">
    <a href="#"><span><i class="fa fa-calendar-o"></i>July 2013</span></a>
    </div>
    </div>
    <div class="archives-content">
    <div class="info-content">
    <a href="#"><span><i class="fa fa-calendar-o"></i>June 2013</span></a>
    </div>
    </div>
    <div class="archives-content">
    <div class="info-content">
    <a href="#"><span><i class="fa fa-calendar-o"></i>May 2013</span></a>
    </div>
    </div>
    <div class="archives-content">
    <div class="info-content">
    <a href="#"><span><i class="fa fa-calendar-o"></i>March 2013</span></a>
    </div>
    </div>
    </section>
    <section class="tags">
    <div class="tags-title archives-title">
    <span>Tags</span>
    </div>
    <div class="tags-content">
    <div class="tags-blog">
    <a href="#">Doctors</a>
    </div>
    <div class="tags-blog">
    <a href="#">Lorem ispum</a>
    </div>
    <div class="tags-blog">
    <a href="#">fitness</a>
    </div>
    <div class="tags-blog">
    <a href="#">boxing trainers</a>
    </div>
    <div class="tags-blog">
    <a href="#">health</a>
    </div>
    <div class="tags-blog">
    <a href="#">foods</a>
    </div>
    </div>
    </section>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    </div>
    </div>
    </section>
    {% endblock %}

    
    